

/* Color Theme Swatches in Hex */
@greyish: #8F9BA6;
@header-blue: #092B40;
@timeline-brown: #A6896F;
@background-sand: #F2D0BD;
@blackish: #0D0D0D;




@primary-color: @header-blue;
@layout-header-height: 51px;
@layout-header-padding : 0px 0px;
@layout-header-background : @background-sand;
@layout-body-background: @background-sand;
@layout-footer-padding : 0px;
@border-radius-base: 2px;
@collapse-content-bg: @background-sand;
@highlight-color: @header-blue;

@body-background: @background-sand;
@component-background: @body-background;

@font-family: 'Roboto Slab', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';


